
<div class="jumbotron">
    <center><h1>@ViewBag.Title</h1></center>

</div>

<div class="row">
    </br>
    <center>
        <h2>@ViewBag.Message</h2>
        <img src="~/fonts/home.jpg" />
    </center>
</div>